/* .xyz  header h2{ color:#3a0eff; font-size:36px; line-height:50px; font-weight:800}

.xyz header a{ display:inline-block; color:#575757; font-size:16px;font-weight:800;padding-top:3px}

.xyz header a i{ color:#ff0000; padding-left:10px; }

.xyz header a:hover{ color:#0d0d0d; text-decoration:none}

.xyz header a:hover i{ color:#3a0eff} */

.xyz section p{ font-size:20px; columns: #000000;; line-height:30px; margin-bottom:20px; font: weight 500}

/* .xyz p strong{ font-size:24px; font-weight:800 ; color:#000000; padding-top:500px} */

.xyz section p span{ font-size:20px; font-weight:650; color:#000000 ; line-height:40px}